.logout-popup {
  
  &__header {
    text-align: center;
    margin: 2rem 0 1.7rem 0;
  }
  
  &__body {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }

  &__confirm-button {
    margin: auto;
  }
  
}