@import "../../styles/theme";

#search-element-container{
    text-align: center;
    width: 50rem;
    box-shadow: 0 0 .5rem $grey-lighter;
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem auto;

    .secondary-button{
        margin-bottom: 1.5rem;
    }
   
    .validation-message{
        color: red;
        padding: 1rem;
    }
}

.input-container{
    display: inline-block;
    width: 12rem;
    margin: 1rem;

    label {
        display: inline-block;
        text-align: left !important;
        margin-bottom: .5rem;
        font-weight: bold;
        width: 100%;
    }

    input{
        border: solid 1px $grey-lighter;
        border-radius: .25rem;
        padding: 1rem;
        width: 100%;
    }
}

#recipt-image{
    margin-top: -3rem;
}
