.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__logo {
    height: 1.5rem;
    width: 10rem;
    margin-right: 2rem;
  }

  p {
    margin: 0;
  }
  
}

.header-group-1 {
  display: flex;
}

.header__logout-button {
  padding: 0.8rem;
  width: 11rem;
}
