@import "../../../styles/theme.scss";

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg {
  circle {
    stroke: $secondary;
    stroke-width: 7px;
    transform-origin: 50%;
    animation: spin 2s linear infinite;
  }
}