$white: #eee;
$grey-darker: #555;
$grey-mid: #777;
$grey-light: #999;
$grey-lighter: #ddd;
$grey-lightest: #eee;

$primary: #C8102E;
$primary-dark: rgb(145, 12, 34);
$secondary: #ff9e1b;

$text-dark: #555;
$text-light: $white;
